body{
    min-width:100wh;
    min-height: 100vh;
}
.hidden{
  display: none;
}
.nft_box{
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 8px #ccc;
  border:1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.nft_info_box{
  display: flex;
  flex-direction: column;
}
.webpack-dev-server-client-overlay-div{
  display: none!important;
}
.nft_box img{
  width: 100px;
}
.w3a-header__logo > img {
  width: 100px !important;
}
.w3ajs-social-logins{
  display: none;
}
.w3ajs-external-wallet{
  display: none;
}
.btn {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:10px;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
